.search-results{
    background-color: #fff;
    margin-top:20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
}

@media only screen and (max-width: 576px) {
    .search-results{
        padding: 0;
    }
}

.mini-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
