@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body{
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-black{
  color:black;
}
